* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

@define-color mauve #c6a0f6;

window#waybar {
    background: rgba(17, 17, 17, 0.10);
    color: #cdd6f4;
}

tooltip {
    background: #9ca0b0;
    color: #4c4f69;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
    color: #4c46f9;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: #5c5f77;
    color: #dce0e8;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: #dc8a78;
    color: #dce0e8;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-recorder,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#backlight {
    background: #F6F8FA;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #FFFFFF;
}

#custom-weather {


	margin-right: 1px;
	color: #1e1e2e
}

#backlight {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #F6F8FA;
    border-radius: 10px;
    /* padding: 0px 10px; */
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-left: 1px solid #FFFFFF;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    color: #1e1e2e;
}

#clock {
    color: #fab387;
    /*border-radius: 10px 0px 0px 10px;*/
    margin-left: 0px;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 1px solid #FFFFFF;
     border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-recorder {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
    border: 1px solid #FFFFFF;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
    border-right: 1px solid #FFFFFF;
}



#custom-notifications,
#custom-notifications.none,
#custom-notifications.inhibited-none{
	border-radius: 10px; 
	color: #f2cdcd;
	background: #F6F8FA;
	padding-right: 12px;
	padding-left: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	/*padding: 0px 10px; */
	margin-bottom: 3px;
	border: 1px solid #FFFFFF;
}

#custom-notifications.dnd-none,
#custom-notifications.dnd-inhibited-none {
  color: #f38ba8;
}

#custom-notifications.notification,
#custom-notifications.dnd-notification,
#custom-notifications.inhibited-notification,
#custom-notifications.dnd-inhibited-notification {
  color: #89b4fa;
  background-color: #9ca0b0;
  animation-name: notif;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-notifications.dnd-notification,
#custom-notifications.dnd-inhibited-notification {
  color: #f38ba8;
  background-color: #9ca0b0;
  animation-name: dndnotif;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-recorder{
	border-radius: 10px; 
	color: #f2cdcd;
	background: #F6F8FA;
	padding-right: 12px;
	padding-left: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	/*padding: 0px 10px; */
	margin-bottom: 3px;
	border: 1px solid #FFFFFF;
}

#custom-cava-internal {
    padding: 5px 8px;
    border-style: solid;
    background-color: #F6F8FA;
    background: #F6F8FA;
    padding-right: 12px;
    padding-left: 10px;
    margin-left: 7px;
    
    margin-top: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    color: @mauve;

    font-family: UbuntuMono;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #FFFFFF;
}

#custom-power {
    padding: 5px 8px;
    border-style: solid;
    background-color: #F6F8FA;
    background: #F6F8FA;
    padding-right: 12px;
    padding-left: 10px;
    margin-left: 7px;

    margin-top: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    color: #ed8796;
    border: 1px solid #FFFFFF;

}

#custom-waybar-mpris {
    padding: 5px 8px;
    border-style: solid;
    background-color: #F6F8FA;
    background: #F6F8FA;
    padding-right: 7px;
    padding-left: 10px;
    margin-left: 7px;
    margin-right: 10px;

    margin-top: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    color: #ed8796;
    border: 1px solid #FFFFFF;

}

#mpris {
    padding: 5px 8px;
    border-style: solid;
    background-color: #F6F8FA;
    background: #F6F8FA;
    padding-right: 7px;
    padding-left: 10px;
    margin-left: 7px;
    margin-right: 10px;

    margin-top: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    color: #ed8796;

}

#custom-wallchange {
    padding: 5px 8px;
    border-style: solid;
    background-color: #F6F8FA;;
    background: #F6F8FA;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 7px;
    /* margin-right: 5px; */

    margin-top: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    color: #1e1e2e;

	

}

